@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Name: Brayden Robert</p>
    <p>Theme: Traveller</p>
    <p>Discription: Favorite places to travel</p>
    <p>Github Link <a href="https://github.com/braydenrobert/WEB315_ASPDOTNET_Assignments_F22">Click here to visit github repository</a></p>
</div>
